
<div>
<h1 style="COLOR:RED;">Search Books</h1> &nbsp;&nbsp; 
<!-- <button mat-raised-button color="primary" (click)="getBookList()">Back</button> &nbsp;&nbsp; -->
<Form [formGroup]="searchBookForm">
    <div class="body">

        <mat-form-field appearance="outline">
          <mat-label>Book Title</mat-label>
          <input matInput placeholder="bookTitle" formControlName="bookTitle" >
        </mat-form-field>
    
         <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput placeholder="bookAuthorName" formControlName="bookAuthorName">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Publisher</mat-label>
            <input matInput placeholder="publisherName" formControlName="publisherName">
        </mat-form-field>

        <div mat-dialog-action [align]="'end'">
          <button  class="btn btn-primary ml-2" mat-dialog-close>Exit</button>
          <button style="margin-left:8px;" mat-raised-button color="primary" (click)="searchBook()">Search</button> &nbsp; 
          <!-- <button type="reset" class="btn btn-primary ml-1">Clear</button> -->
        </div>
        
    </div>
</Form>
</div>

<div id="main_box" class="content_box box-shadow p3">
  <div class="container">
    <h1 style="COLOR:RED;"> Book Deatils </h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Book Id</th>
        <th scope="col">Book Title</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>
        <th scope="col">AuthorName</th>
        <th scope="col">PublisherName</th>
        <th scope="col">ImagePath</th>
        <th scope="col">Price</th>
        <th scope="col">Book Active</th>
   
      </tr>
      </thead>
      <tbody>
      <!-- <tr *ngIf="trackTableDataSource.length=0">
        <td colspan="7" style="text-align: center"><h2> No Book Record Found</h2></td>
      </tr> -->
      <tr *ngFor="let book of manuscriptdatasorce">
        <td >{{book.bid}}</td>
        <td>{{book.bookTitle}}</td>
        <td>{{book.bookContent}}</td>
        <td >{{book.category}}</td>
        <td>{{book.bookAuthorName}}</td>
        <td>{{book.publisherName}}</td>
        <td >{{book.imagePath}}</td>
        <td>{{book.price}}</td>
        <td>{{book.isActive}}</td>
      </tr>
    
      </tbody>
    </table>
    </div>
</div>
